//colors
$bleu: #3498db;
$bleuFoncee: #347eb5;
$orange: #e67e22;
$orangeFoncee: #d35400;
$orangeMilieu: #f78928;
$orangeErreur: #c85305;
$vert: #7abc1a;
$vertFoncee: #68a016;
$cloud: #ecf0f1;
$cloudFoncee: #e5e6e7;
$gris: #434544;
$grisPale: #c4c1be;
$grisMoyen: #9d9d9d;
$grisFoncee: #383939;
